.logo{width: 150px;
margin-left: 50px;
margin-right: 300px;}



.btn{width: 174px;
height: 50px;}



.arrow{background-color: white;
color: #dc3545;
border: 5px solid white;
border-radius: 50%;}


.snp{font-family: Protest Guerrilla;}



.bg-color{background-color: #0f0f0f;}


.red{    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
    display: block;}


.arrow-2{padding: 8px 8px 6px;
color: #ED1C24;
background-color: #ffffff;
border: 3px solid #ffffff;
border-radius: 50%;}

.flex-b{flex-basis: 50%;}


.btn-clr{background-color: #ed1c24;
color: #ffffff;}

.font{font-family: 'Times New Roman', Times, serif;}


.flex-b{flex-basis: 50%;}

.red-clr{color: #ED1C24;}


.card-img{width: 350px;
height: 250px;}


.flex-b2{flex-basis: 30%;}

.guj{width: 100%;}


.guj-btn{background-color: #28a745;}

.guj-arrow{color: #28a745;}




.red-3{color: #ED1C24;
font-size: 10px;}


.feed{width: 100%;
height: 100%;}


.pointer{cursor: pointer;}

.flex-25{flex-basis: 25%;}


.icon{ background-color: #ED1C24;
color: #ffffff;
padding: 10px;
width: 40px;
height: 40px;
border: 1px solid #ED1C24;
border-radius: 50%;}

.margin-l{margin-left: 50px;}

.margin-r{margin-right: 50px;}


.bg-img{background-image: url(./Assets/bg-logo.webp);
background-repeat: no-repeat;
margin-top: 50px;}


.rest-img{width: 100%;
height:100%;}


.height{height: 100%;}


.width{width: 100%;}

.txt-color{color: rgba(255, 255, 255, 0.7)}

.book-border{border: 1px solid rgba(255, 255, 255, 0.7);}



  
.box{width: 100%;
height: 100%;}

.box img{width: 100%;
    transition: transform 0.5s;}

.box:hover img {transform: scale(1.1);}



.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ED1C24;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #ED1C24;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ED1C24;
}


.star-margin{margin-left: 300px;}




.input-box{width: 600px;
height: 50px;
border-radius: 5px;}


